/* Notifications */
.notification {
  position: absolute;
  top: 10%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  align-items: center;
  padding: 14px 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--rounded-lg);

  z-index: 0;

  opacity: 0;
  transition: all 0.3s ease;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px 0px;
}

.notification-text {
  flex-grow: 1;
  color: var(--clr-text-primary);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.025em;
  text-align: center;
}

.notification.success {
  opacity: 1;
  background-color: var(--clr-text-announcement);
  z-index: 100;
}

.notification.danger {
  opacity: 1;
  background-color: var(--clr-text-danger);
  z-index: 100;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .notification {
    width: 90%;
    top: 8%;
  }

  .notification-text {
    font-size: 14px;
  }
}