.add-episode-container, .edit-episode-container {
  display: block;
}

.add-episode-container-title, .edit-episode-container-title {
  font-size: 3rem;
  padding-bottom: 20px;
}

.add-episode-form, .edit-episode-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-episode-form-select {
  width: 25%;
  border-radius: 20px;
  padding: 10px;
  margin-right: 20px;
  color: var(--clr-text-black);
}

.add-episode-form p, .edit-episode-form p {
  font-weight: lighter;
  font-size: 30px;
}

.add-episode-form input, .edit-episode-form input{
  width: 50%;
  padding: 10px;
  color: var(--clr-text-black);
 border-radius: 20px;
}

.add-episode-file p, .edit-episode-file p {
  font-size: 20px;
}

#file {
  color: var(--clr-text-primary);
}

.add-episode-buttons, .edit-episode-buttons{
  display: flex;
  justify-content: end;
  gap: 30px;
  margin-top: 30px;
}

.cancel-add-episode-button, .cancel-edit-episode-button {
  width: 75px;
  color: var(--clr-text-secondary);
  background-color: transparent;
  outline: none;
  border: none;

}

.confirm-add-episode-button, .confirm-edit-episode-button {
  padding: 10px;
  width: 125px;
  color: var(--clr-text-black);
  background-color: var(--clr-text-info);
  outline: none;
  border: none;
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.delete-edit-episode-button {
  padding: 10px;
  width: 150px;
  color: var(--clr-text-black);
  background-color: var(--clr-text-danger);
  outline: none;
  border: none;
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .add-episode-container-title,
  .edit-episode-container-title {
      font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .add-episode-form-select,
  .edit-episode-form-select {
      width: 75%; /* Make the select element full width on smaller screens */
      margin-right: 0; /* Remove right margin */
      padding: 5px;
  }

  .add-episode-form input,
  .edit-episode-form input {
      width: 75%; /* Make the input elements full width on smaller screens */
      padding: 5px;
      font-size: 12px;
  }

  .add-episode-form p, .edit-episode-form p {
    font-weight: lighter;
    font-size: 20px;
  }

  .add-episode-file p, .edit-episode-file p {
    font-size: 20px;
  }

  .add-episode-buttons,
  .edit-episode-buttons {
      flex-direction: column; /* Stack buttons vertically on smaller screens */
  }

  .file-uploader-label {
    font-size: 10px;
  }

  .confirm-add-episode-button,
  .confirm-edit-episode-button,
  .delete-edit-episode-button {
      /* width: 100%; Make buttons full width on smaller screens */
      margin-top: 10px; /* Add some space between stacked buttons */
  }
}

@media (max-width: 420px) {
  .add-episode-form-select,
  .edit-episode-form-select {
      width: 100%; /* Make the select element full width on smaller screens */
  }

  .add-episode-form input,
  .edit-episode-form input {
      width: 100%; /* Make the input elements full width on smaller screens */
  }
}