.episode-detail-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.episode-detail-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.episode-detail-head-image, .episode-detail-head-image-empty  {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.episode-detail-head-image-empty {
  background-color: var(--clr-background-card);
}

.episode-detail-head-title {
  font-size: 20px;
  text-align: center;
}

.episode-detail-head-duration {
  font-size: 17px;
  font-weight: lighter;
}

.episode-detail-head-play-button {
  border: none;
    border-radius: var(--rounded-full);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

#button-image {
  width: 75%;
  height: 75%;
}

#edit-button-image {
  width: 100%;
  height: 100%;
}

#like-button-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.episode-detail-head-edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
}

.episode-detail-head-like-button {
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  width: 2rem;
  height: 2rem;
}

.like-info {
  display: flex;
  gap: 5px;
}

.episode-detail-line {
  width: auto;
  height: 2px;
  background-color: #000000;
  padding: auto 10px;
}

.episode-detail-foot {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.episode-detail-foot-date {
  font-size: 15px;
  color: var(--clr-text-secondary);
}

.episode-detail-foot-description {
  font-size: 15px;
  color: var(--clr-text-secondary);
}

.episode-detail-foot-creator {
  width: 200px;
  display: flex;
  flex-direction: row;
  border: 1px solid #ffffff;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 10px;
  gap: 10px;
  justify-content: center;
    align-items: center;
}

.episode-detail-foot-creator-image {
  flex: 1;
  max-width: 20px;
  max-height: 20px;
}

.episode-detail-foot-creator-name {
  flex: 1;
  font-size: 15px;
}

.episode-detail-foot-creator-name:hover {
  cursor: pointer;
  color: var(--clr-text-primary);
  text-decoration: underline;
}

.episode-comment {
  display: flex;
  width: 100%;
  margin: 20px auto;
  max-height: 3rem;
  gap: 10px;
  padding: auto 4rem;
}

.comment-user-image-container {
  height: inherit;
  margin-left: 1.5rem;
}

.user-image {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: var(--rounded-full);
}

.comment-input-container {
  width: 100%;
}

.comment-input {
  padding: 14px 12px;
  background: var(--clr-background-base-two);
  border: 0;
  box-shadow: 0 0 0 1px var(--essential-subdued, #878787);
  border-radius: var(--rounded);
  transition: box-shadow 0.3s ease;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.comment-buttons {
  display: none;
  justify-content: end;
  gap: 10px;
  margin: 10px auto;
}
/*
.comment-submit {
  font-weight: 700;
  transition: transform 0.2s ease;
  padding: 0.5rem 2rem;
  width: min-content;
}

.comment-submit:hover {
  transform: scale(1.05);
}

.comment-cancel {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--clr-text-secondary);
} */

@media (max-width: 402px) {
  .episode-detail-head-image, .episode-detail-head-image-empty  {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .episode-detail-head-title {
    font-size: 16px;
  }

  .episode-detail-head-duration {
    font-size: 14px;
  }

  .episode-detail-foot-date {
    font-size: 10px;
  }
  
  .episode-detail-foot-description {
    font-size: 10px;
  }

  .episode-detail-foot-creator {
    width: 75%;
    margin-top: 20px;
  }

  .episode-detail-foot-creator-name {
    font-size: 14px;
  }
}

@media (max-width:374px) {
  .episode-detail-foot-creator {
    padding: 5px;
  }

  .episode-detail-foot-creator-name {
    font-size: 10px;
  }

  .episode-detail-foot-creator-image {
    flex: 1;
    max-width: 15px;
    max-height: 15px;
  }
}

@media(max-width: 250px) {
  .episode-detail-foot-creator {
    width: 100%;
    padding: 2px;
  }
  .episode-detail-foot-creator-name {
    text-align: center;
  }
}