.login-wrapper, .register-wrapper {
  row-gap: normal;
  padding: 2rem 0;
}

h1 {
  font-size: 3rem;
  margin: 3rem 0px;
  letter-spacing: 0;
  text-align: center;
}

.login-form, .register-form {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  width: var(--xs);
  margin: 0px auto;
  padding-bottom: 0px;
}

.form-button {
  margin-top: 1.5rem;
}

.btn-submit {
  width: 100%;
  color: var(--clr-text-black);
  background: var(--clr-text-info);
  padding: 1rem 2rem;
  border-radius: var(--rounded-full);
  font-size: 1rem;
  font-weight: 700;
  transition: transform 0.2s ease;
}

.btn-submit:hover {
  transform: scale(1.05);
}

.form-hyperlink {
  text-align: center;
  margin-top: 1rem;
  font-weight: 500;
}

.form-hyperlink span {
  color: var(--clr-background-highlight-three);
}

.form-hyperlink a {
  color: var(--clr-text-primary);
  text-decoration: underline;
}

.form-hyperlink a:hover {
  color: var(--clr-text-info);
  text-decoration: underline;
}

hr {
  margin: 3rem 100px;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  border-top: 1px solid rgb(41, 41, 41);
}