body, html {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  gap: 0.5rem;
  overflow: hidden;
  padding: 0.5rem;
}

/*---------- MIDDLE CONTENT ----------*/
.content {
  position: relative;
  grid-column: span 3 / span 4;
  grid-row: span 7 / span 8;
  overflow-y: auto;
  background-color: var(--clr-background-base-two);
  border-radius: var(--rounded-lg);
  padding: 0rem 1.5rem;
}

.background-container {
  height: 50vh;
  background-image: linear-gradient(
    #464949 0%, 
    var(--clr-background-base-two) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  margin: 0;
}