:root {
  /* Color  */
  --clr-background-base-one: #000000;
  --clr-background-base-two: #121212;
  --clr-background-highlight-one: #1a1a1a;
  --clr-background-highlight-two: #2a2a2a;
  --clr-background-highlight-three: #a7a7a7;
  --clr-text-primary: #f9f9f9;
  --clr-text-secondary: #b3b3b3;
  --clr-text-secondary-darken: #808080;
  --clr-text-info: #1ed760;
  --clr-text-info-hover: #0ab346;
  --clr-text-warning: #ffa42b;
  --clr-text-danger: #f15e6c;
  --clr-text-announcement: #3d91f4;
  --clr-text-black: #000000;

  --clr-background-card: #181818;

  /* Font size */
  --fs-album-title-pc: 4rem;
  --fs-album-subtitle-pc: 1.5rem;
  --fs-heading: 1rem;
  --fs-title: 0.875rem;
  --fs-caption: 0.75rem;

  --fs-mobile-album-title: 1.5rem;
  --fs-mobile-title: 1.125rem;

  /* Font Family  */
  --ff-main: CircularSpotifyText;

  /* Breakpoint  */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;

  /* Others  */
  --rounded-sm: 0.125rem;
  --rounded: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-full: 1000rem;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

/* Fonts */

/* Book weight */
@font-face {
  font-family: CircularSpotifyText;
  src: url("/src/public/assets/fonts/CircularSpotifyText-Book.otf") format("opentype");
  font-weight: 200;
}

/* Book Italic weight */
@font-face {
  font-family: CircularSpotifyText;
  src: url("/src/public/assets/fonts/CircularSpotifyText-BookItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

/* Light weight */
@font-face {
  font-family: CircularSpotifyText;
  src: url("/src/public/assets/fonts/CircularSpotifyText-Light.otf") format("opentype");
  font-weight: 300;
}

/* Medium weight */
@font-face {
  font-family: CircularSpotifyText;
  src: url("/src/public/assets/fonts/CircularSpotifyText-Medium.otf") format("opentype");
  font-weight: 500;
}

/* Medium Italic weight */
@font-face {
  font-family: CircularSpotifyText;
  src: url("/src/public/assets/fonts/CircularSpotifyText-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Bold weight */
@font-face {
  font-family: CircularSpotifyText;
  src: url("/src/public/assets/fonts/CircularSpotifyText-Bold.otf") format("opentype");
  font-weight: 700;
}

/* Black weight */
@font-face {
  font-family: CircularSpotifyText;
  src: url("/src/public/assets/fonts/CircularSpotifyText-Black.otf") format("opentype");
  font-weight: 800;
}

/* BlackItalic weight */
@font-face {
  font-family: CircularSpotifyText;
  src: url("/src/public/assets/fonts/CircularSpotifyText-BlackItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

body {
  background-color: var(--clr-background-base-one);
  font-family: CircularSpotifyText;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  z-index: 0;
  font-family: var(--ff-main);
  color: var(--clr-text-primary);
}

h1 {
  font-size: var(--fs-album-title-pc);
  color: var(--clr-text-primary);
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 2rem;
}

h2 {
  font-size: var(--fs-album-subtitle-pc);
  color: var(--clr-text-primary);
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 2rem 50px;
}

h3 {
  font-size: var(--fs-heading);
  color: var(--clr-text-primary);
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 0 50px;
}

/* Button  */
button {
  cursor: pointer;
}

.btn {
  padding: 1rem 2rem;
  border-radius: var(--rounded-full);
  border: none;
  background-color: var(--clr-background-base-two);
  color: var(--clr-text-primary);
  font-family: CircularSpotifyText;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--clr-background-highlight-two);
}

.primary {
  background-color: var(--clr-text-info);
  color: var(--clr-text-black);
  transition: var(--transition);
}

.primary:hover {
  background-color: var(--clr-text-info-hover);
  transition: var(--transition);
}

.secondary {
  background-color: var(--clr-text-primary);
  color: var(--clr-text-black);
  border: 1px solid var(--clr-background-highlight-two);
}

.secondary:hover {
  background-color: var(--clr-text-primary);
  border: 0.7px solid var(--clr-text-black);
}

a {
  text-decoration: none;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-text-secondary-darken);
}

/* On hover, change the background-color and opacity of the thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-text-secondary);
}